.icon-container{

  a{
    text-decoration: none;
  }

  img{
    height: 50px;
    padding-top: 73px;
  }

  h4{
    font-family: "Ubuntu-Bold", sans-serif;
    color: var(--primary-color);
    font-size: 15px;
    line-height: 34px;
    margin-top: 1.11vh;
  }




}