.welcome{
    background-image: url("../../images/Mask Group 10.svg");
    background-size: cover;
    height: 100vh;
    text-align: center;

img{
    width: 161px;
    height: 179px;
    padding-top: 153px;
}

    .versions{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.59vw;

        img{
            margin: 0;
        }
    }

}


