.button{
    border-radius: 0 12px;
    color: var(--text-color-1) ;
    background-color: white;
    border: none;
    width: 249px;
    height: 65px;
    font-family: "Ubuntu-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 23px 56px;
    cursor: pointer;

    @media only screen and (max-width: 1339px){
        width: 291px;
    }


}